<h2>Form</h2>
<form [formGroup]="form" (ngSubmit)="submit(form)">

    <input type="text" name="name" placeholder="Name"
    formControlName="name" ><br/>
      

    <input type="email" name="email" placeholder="name@domain.com"
    formControlName="email"><br/>
      

    <input type="tel" name="phone" placeholder="Phone number"
    formControlName="phone"><br/>
      

    <input type="text" name="avatar"placeholder="avatar url" 
    formControlName="avatar">

    <input type="checkbox" name="isFavorite"id="favorite" 
    formControlName="isFavorite">
    <label for="isFavorite">Favorite</label><br> 

    <button type="submit"[disabled]="form.invalid">Submit</button>
</form>
    
