<h2>Form</h2>
<form [formGroup]="form" (ngSubmit)="submit(form)">

    <input type="text" name="name" 
    placeholder="Name" [(ngModel)]="name" required minlength="3" #fullName="ngModel"><br/>
          <p *ngIf="form.controls.name?.errors?.required" class="error">Required.</p> 
          <p *ngIf="form.controls.name?.errors?.minlength" class="error">Minimum 3 characters.</p>


    <input type="email" name="email" 
          placeholder="name@domain.com" [(ngModel)]="email" pattern="[a-zA-Z0-9_\.]+@[a-zA-Z0-9_\.]+" required><br/>
          <p *ngIf="form.controls.email?.errors?.pattern" class="error">Invalid email.</p>
          <p *ngIf="form.controls.email?.errors?.required" class="error">Required.</p>

    <input type="tel" name="phone" 
          placeholder="Phone number" [(ngModel)]="phone" required><br/>
          <p *ngIf="form.controls.phone?.errors?.minlength" class="error">Minimum 9 characters.</p>
          <p *ngIf="form.controls.phone?.errors?.required" class="error">Required.</p>

    <input type="text">
    <input type="text" name="avatar"
          placeholder="avatar url" [(ngModel)]="avatar">
    <input type="checkbox" name="isFavorite"
          id="favorite" [(ngModel)]="isFavorite">
    <label for="isFavorite">Favorite</label><br> 
     
    <p>  
      Form valid: {{form.form.valid}} <br/>  
      Form touched: {{form.form.touched}} <br/>
      Form dirty: {{form.form.dirty}}
      </p>
      <p *ngIf="!fullName.valid">Please add your name!</p>

    <button type="submit"[disabled]="form.invalid">Submit</button>
</form>
    
