<div>
    <h2>{{ name }}</h2>
    <ul>
    <li>Email: {{ email }}</li>
    <li>Phone: {{ phone }}</li>
    </ul>
</div>
<input type="text" name="name" placeholder="Name" [(ngModel)]="name">
<input type="email" name="email" placeholder="name@domain.com" [(ngModel)]="email">
<input type="tel" name="phone" placeholder="Phone number" [(ngModel)]="phone">
<input type="checkbox" name="isFavorite" id="isFavorite" [(ngModel)]="isFavorite">
<label for="isFavorite">Favorite</label><br>
<button type="submit" (click)="onClick()">Submit</button>
    
